*.db3
*.db3-shm
*.db3-wal
.env
data/
.idea/
.DS_Store
config.json
node_modules/
_content/
_framework/
css/
images/*
js/
appsettings.json
favicon.ico
index.html
style.overrides.css
web.config
desktop.ini
